body{padding-top:50px;background:url("http://www.jq22.com/demo/3dflower-150626232729/");}
nav{font-size:20px;font-color:red;}
nav h2{margin-top:-8px;color:#39de42;}
nav h4{
	font-weight:bold;
	width: 100px;height: 50px;font-size:30px;margin-top:15px;
	background-image: -webkit-linear-gradient(45deg,red 30%,blue,green 70%);
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
	animation-name:myfirst;
	animation-duration: .8s;
	animation-timing-function:ease-in;
	animation-iteration-count:infinite;
}
.clock{border:5px solid #000; border-radius:50%;position:relative;width: 306px;height:306px;margin-top:60px;margin:5% auto 0;}
.clock div{position:absolute; -webkit-transform-origin:center bottom; -webkit-transform:perspective(800px) rotate(0deg); }
.clock .hou{ width:10px; height:80px; background:#000; left:50%; margin-left:-5px; top:70px; border-radius:50% 50% 0 0;}
.clock .min{ width:8px; height:100px; background:#000; left:50%; margin-left:-4px; top:50px; border-radius:50% 50% 0 0;}
.clock .sec{ width:4px; height:120px; background:red; left:50%; margin-left:-2px; top:30px; border-radius:50% 50% 0 0;}
.clock span{ position:absolute; left:50%; top:0; width:4px; height:8px; margin-left:-3px; background:#000; -webkit-transform-origin:center 150px; -webkit-transform:perspective(800px) rotate(0deg);}
.clock span.big-scale{ width:6px; margin-left:-4px; height:12px;}
.big-scale em{position:absolute; top:15px; font-style:normal;-webkit-transform:perspective(800px) rotate(0deg); width:30px; left:50%; margin-left:-15px; text-align:center;}
.clock .cap{ width:20px; height:20px; border-radius:50%; background: -webkit-radial-gradient(#fff,black); position:absolute; left:50%; top:50%; margin-left:-10px; margin-top:-10px;} 
#first h3{margin-bottom:40px;}
@keyframes myfirst{
0%   {background-position:0 0px;}
50% {background-position:50px 25px;}
100% {background-position:100px 50px;}
}

/*链接网站*/
#web{width:100%;box-sizing:border-box;margin-top:20px;}
#web div{height:150px;padding:10px;display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
#web div img{width:100%;}
/*skill*/
#first .progress{height:40px;}
#first .progress-green{color:#de5de4;font-size:20px;line-height:40px;}
/*canvas*/
#chart{display:block;cursor:pointer;padding-bottom:30px;}
/*html*/
#second{height:auto;}
#second h3{padding-bottom:40px;}
#second img{width:80%;height: auto;}
#second div:nth-child(3) img{
   padding:15% 0;
}
#second div:nth-child(5) img{
    padding:9% 0;
}
#second p{font-size:16px;color:#de34ea;padding:7px;}
#second .js_project{font-size:30px;}
#js-box{ width:280px; height:280px;position:relative;margin:15% auto 20%;border-radius:50%; border:6px solid #eee;}
#js-box span{ position:absolute; left:50%; margin-left:-43px; margin-top:-43px; border-radius:50%; width:80px; height:80px; background:#39de89;font-size:20px;line-height:80px;text-align:center;color:#de2345;}




@media (min-width:769px) {
nav .navbar-nav{margin-right:10px;}
#banar{width:80%;text-align:center;color:blue;margin: 0 auto;}

.carousel{height:400px;overflow: hidden;}
.carousel img{width: 100%;}
.item{height:400px;}
.item a{color:red;width: 100px;height: 40px;font-size:14px;}

}

@media (max-width:769px) {
nav .container,nav .nav-header{height:50px;}
nav .navbar-nav{text-align:center;margin-top:0;background:#333;border-radius:5px;}
nav h4{display:none;}
#banar{width:100%;text-align:center;color:blue;}
.carousel{height:100%;overflow: hidden;}
.carousel img{width: 100%;height:100%;}
.item a{font-size:12px;width: 70px;height: 20px;margin-top:-10px;padding-top:2px;padding-bottom:2px;}

}


/*侧边定位*/
/*#left-box{width: 50px;height: 100px;position:fixed;right:0;bottom:50px;}
#box{width: 500px;height: 300px;background:#ccc;position:fixed;left:50%;top:50%;margin-left:-250px;margin-top:-150px;transform:scale(5,4);
	display:none;opacity:0;z-index:5;}*/